/*  - цвет основного текста - #757575;
    - цвет заголовков - #212121;
    - акцент #2196F3; */

:root {
    --primary-text-color: #757575; ; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
}


*,
::before,
::after {
    box-sizing: border-box;
}
/*============ STUDIA (index)===========*/
/* ============  BODY  ============*/
.body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}

/* Утилиты */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-container {
display: flex;
align-items: center;
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-right: 15px;
padding-left: 15px;
}
    
    
/*============  LOGO  ============*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
   }

.logo-color {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* ============  END LOGO  ============*/

/* ============  END BODY  ============*/

/*==========navigation==============*/

.navigation-list {
    display: flex;
    margin-left: 93px;
    margin-right: auto;
}

.navigation-list .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.address .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.navigation-list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link-mail:hover,
.address-link-mail:focus {
    color: var(--accent-color);
}

.address {
    display: flex;
}

.address-link-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
    }

.address-link-mail:hover {
    color: var(--accent-color);

}
.address-link-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
/*============ END NAVIGATION============*/

/*=========== HERO ==================*/


/* advantages */

.section-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: #2F303A;
    }


.hero-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    /* text-align: center; */
    color: white;
    background-color: #2F303A;
    background-color: var(--accent-color)
}


/*================ END HERO ===========*/

/*=========== ADVANTAGES ===========*/

.advantages-container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.advantages-container .item {
    width: 270px;
 }

.advantages-container .item + .item {
   width: 270px; 
   margin-left: 30px;
}

.advantages-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*=============== END ADVANTAGES ===========*/

/*===== WHAT WE DO========*/

.what-we-do-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.what-we-do-container .item {
    display: flex;
    justify-content: center;
}

.what-we-do-container .item + .item {
    margin-left: 30px;
}

.what-we-do-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }
 /*=====  END WHAT WE DO========*/

/*========= OUR TEAM ========*/
.team-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--title-text-color);
}

.team-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.team-container .item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 0;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-container .item + .item {
    margin-left: 30px;
}

.team-container .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var (--title-text-color);
}

.team-container .job-duty {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }
/*======== END OUR TEAM=======*/


/* ============  OUR PROJECTS  ============*/
.project-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var (--title-text-color);
}

.project-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* ============  END OUR PROJECTS  ============*/ 

/* ============  FOOTER  ============*/

.footer {
    background-color: #2F303A;
}
    
.footer-logo-color {
    color: #FFFFFF ;
    text-decoration: none;
}

.footer-address-item-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-logo-blue {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-address-contact-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ============  END FOOTER  ============*/

