/*  - цвет основного текста - #757575;
    - цвет заголовков - #212121;
    - акцент #2196F3; */

:root {
    --primary-text-color: #757575; ; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
}


*,
::before,
::after {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;


}
/*============ STUDIA (index)===========*/
/* ============  BODY  ============*/
.body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    max-width: 1600px;
    margin: auto;
}

/* Утилиты */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
  
}
.nav-container {
display: flex;
align-items: center;
margin: auto;
width: 1200px;
/* height: 80px; */
padding: 0 15px;
}
    
    
/*============  LOGO  ============*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
   }

.logo-color {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* ============  END LOGO  ============*/

/* ============  END BODY  ============*/

/*==========navigation==============*/

.navigation-list {
    display: flex;
    margin-right: auto;
    margin-left: 93px;
    
}


.navigation-list .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.address .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.navigation-list-link {
    display: block;
    font-family: Roboto;
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link-mail:hover,
.address-link-mail:focus {
    color: var(--accent-color);
}

.address {
    display: flex;
}

.address-link-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
    }

.address-link-mail:hover {
    color: var(--accent-color);

}
.address-link-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
/*============ END NAVIGATION============*/

/*=========== HERO ==================*/

.hero {
    background: #2F303A;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    width: 696px;
    height: 120px;
    margin: 200px 452px 30px 452px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    width: 200px;
    height: 50px;
    color: var(--accent-color);
    margin: 0px 700px 200px 700px;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background-color: var(--accent-color)

}

/* код стилю героя станом на 23-09-2020 */
/* .hero {
    max-width: 1600px;
    height: 600px;
    margin: auto;
    text-align: end;
    background-color: #2F303A; 
} */

 
/* .hero-container {
    display: flex;
    width: 696px;
    height: 120px;
}

.hero-title {
    width: 696px;
    height: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    margin-left: 452px;
    margin-right: 452px;
   
    color: #FFFFFF;
  }

  .hero-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background-color: #2F303A;
    background-color: var(--accent-color)
} */

/* кінець код стилю героя станом на 23-09-2020 */



/* .hero-title {
    display: block;
    width: 696px;
    height: 120px;
    padding-top: 200px 452px  280px 452px;
    align-items: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    
}

.hero-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 30px; 
    color: white;
    background-color: #2F303A;
    background-color: var(--accent-color)
}
.hero-container {
    display: flex;
    text-align: center;
    padding: 200px 452px 280px 452px;
    max-width: 1600px;
    height: 600px;
    margin: auto ;
    background-color: #2F303A;
} */
    

/*================ END HERO ===========*/

/*=========== ADVANTAGES ===========*/

.advantages {
    width: 1200px;
    padding-top: 94px;
    margin: 0 auto; 
    background-color: lightcoral;
}

.advantages-container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.advantages-container .item {
    width: 270px;
 }

.advantages-container .item + .item {
   width: 270px; 
   margin-left: 30px;
}

.advantages-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*=============== END ADVANTAGES ===========*/

/*===== WHAT WE DO========*/

.what-we-do-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.what-we-do-container .item {
    display: flex;
    justify-content: center;
}

.what-we-do-container .item + .item {
    margin-left: 30px;
}

.what-we-do-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }
 /*=====  END WHAT WE DO========*/

/*========= OUR TEAM ========*/
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F4FA;
    max-width: 1600px;
    height: 648px;
    margin: 0 auto;
    padding-bottom: 94px;

}

.team-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
    margin-bottom: 50px;
    color: var(--title-text-color);
    
}

.team-container {
    display: flex;
    width: 1200px;
    height: 648px;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.team-container .item {
    color: var(--title-text-color);
    background-color: #fff;

}

.team-container .item + .item {
    margin-left: 30px;
}

.team-container .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-container .item .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: var(--title-text-color);
}
.team .item-content {
    padding-top: 30px;
    padding-left: 59px;
    padding-right: 60px;
}


.team-container, .job-duty  {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
   
}

.job-duty {
    margin-bottom: 30px;
}
/*======== END OUR TEAM=======*/

 /*=========== portfolio======  */
 .portfolio-container {
    display: flex;
    width: 1200px;
    margin-bottom: 50px;
    margin-top: 94px;
    padding-left: 295px;
    justify-content: center;

 }
.portfolio-btn {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--title-text-color);
        
}


.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: white;
}  

.portfolio-container .item + .item { 
    margin-left: 8px;
}

    /* ============  OUR PROJECTS  ============*/


.project-title {
    display: block;
    margin-top: 4px;
    margin-bottom: 0px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 94px;
    justify-content: center;
 }

.project-container .item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
       
}

.project-container .item:nth-child(3n) {
    margin-right: 0px;    
}

.project-container .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.project-container .item .article {
    display: block;
    width: 370px;
    height: 115px;
    padding: 20px 24px;
    /* border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee; */
}
    

.project-description { 
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    /* .project-list-content {
        padding: 24px 20px;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee; */

}
/* ============  END OUR PROJECTS  ============*/ 

/* ============  FOOTER  ============*/

.footer {
    display: flex;
    /* flex-direction: column; */
    max-width: 1600px;
    height: 252px;
    margin: auto;
    background-color: #2F303A;
    
}
 
.footer-elements {
    display: block;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 215px;
    
}
.footer-logo-color {
    color: #FFFFFF ;
    text-decoration: none;
}

.footer-address-item-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-logo-blue {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-address-contact-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ============  END FOOTER  ============*/

